node_modules
dist
coverage
generated
.env
.env.*
!.env.example
.git
.gitignore
.github
.vscode
.idea
**/*.spec.ts
**/*.e2e-spec.ts
test/
README.md
API.md
Dockerfile
.dockerignore
docker-compose*.yml
npm-debug.log*
