DATABASE_URL="postgresql://neondb_owner:npg_Q3TIyLUcWAC8@ep-lucky-hill-a424dzzi-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="mentistech-jwt-secret-256bits"
JWT_EXPIRATION="86400s"
ANTHROPIC_API_KEY="sua-chave-aqui"
PORT=7777
